
body{
    margin: 0;
   
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    
}
h1{
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
   
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-size: 1.5rem;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}    
.top-cloud{
    position: absolute;
   
    right: 300px;
    top: 50px;
}
.meimg{
    margin-top: 50px;
    width: 200px;
}
.pngimg{
  

    max-width: 25%;
  float: left;
  margin-right: 30px;
    
   

}
.laptopimg{
   
    max-width: 25%;
    float:right;
    margin-left: 30px;
   
}


.skills{
    width: 50%;
   margin: auto;
   text-align: left;
   line-height: 2;
  
   
}
.first{
    height: 290px;
}
.second{
    height:290px;
    
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0 20px 0;
}
.bottom-container{
    background-color: #66BFBF;
   height: 100px;
   padding: 50px 0 20px;
 

}
.contact-me{
    margin-bottom: 30px;
}
.paragraph{
    color: #40514E;
   font-weight: bold ;
}
hr{
    height: 10px;
    border-style: none;
    border-top-style: dotted;
    width: 4%;
    border-width: 7px;
    size: 2;
    color: #EAF6F6;
 
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .footer-link{
    margin: 15px;
    font-size: medium;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover{
    color: #EAF6F6;
  }
  